# EditorConfig is awesome: https://EditorConfig.org

root = true

# 所有文件
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go 文件
[*.go]
indent_style = tab
indent_size = 4

# Markdown 文件
[*.md]
trim_trailing_whitespace = false

# JSON 文件
[*.json]
indent_style = space
indent_size = 4

# YAML 文件
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Shell 脚本
[*.sh]
indent_style = tab
indent_size = 4
